@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="item">
    <span style="font-size: x-large">
        <a asp-page="./Beads/Index">Beads</a>
    </span>
</div>
<div class="item">
    <span style="font-size: x-large">
        <a asp-page="./Findings/Index">Findings</a>
    </span>
</div>
<div class="item">
    <span style="font-size: x-large">
        <a asp-page="./StringingMaterials/Index">Stringing Materials</a>
    </span>
</div>
<div class="item">
    <span style="text-align: right">
        <span style="font-size:x-small">
        <a asp-page="./Privacy">
        <button>Privacy</button>
        </a>
        <a asp-page="./Contact">
        <button>Contact</button>
        </a>
        <a asp-page="./About">
        <button>About</button>
        </a>
        </span>
    </span>
</div>
