@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <a asp-page="./Privacy">Privacy</a>
    <a asp-page="./Contact">Contact</a>
    <a asp-page="./About">About</a>
</div>
<div class="item">
    <span style="font-size: x-large">
        <a asp-page="./Beads/Index">Go To Beads</a>
    </span>
</div>
<div class="item">
    <span style="font-size: x-large">
        <a asp-page="./Findings/Index">Go To Findings</a>
    </span>
</div>
